<% provide(:form_title, '予定を追加する') %>
  <div class="container">
    <h1><%= Date.today.mon %>/<%= Date.today.mday %></h1>
    <%= render 'form' %>
  </div>

  <%= week_calendar(attribute: :start_date_id, end_attribute: :end_date_id) do |date, schedules| %>
  <%= date.day %>
<% end %>